@import "../../variables.scss";

.navbar {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: $primary-blue;
  text-shadow: 2px 2px $primary-purple;
  align-items: center;
  z-index: 100;

  .navTitle {
    height: 100%;
    margin-right: auto;
    margin-left: 2px;
    padding-left: 30px;
    font-size: 2.5em;
    color: $white;
    display: flex;
    align-items: center;
    transform: scale(1.2, 0.9);
  }

  .navItems {
    display: flex;
    align-items: center;
  }

  .navItem,
  .navActive {
    text-align: center;
    text-decoration: none;
    font-size: 1.75em;
    padding: 0 10px;
    color: $white;

    &:hover {
      color: $purple;
    }

    .navActive {
      height: 100%;
      color: $purple;
    }
  }

  .burgerIcon {
    position: absolute;
    right: 0;
    visibility: hidden;
  }

  @media screen and (max-width: 970px) {
    .burgerIcon {
      visibility: visible;
      cursor: pointer;
    }

    .navItems {
      visibility: hidden;
    }

    .navItemsMobile {
      display: flex;
      position: absolute;
      flex-direction: column;
      align-items: start;
      right: 0;
      padding-right: 15px;
      top: 70px;
      width: auto;
      background-color: $primary-blue;
      box-shadow: -5px 0px 0 0 #702632;
      height: 100%;
      z-index: 50;

      @media screen and (max-width: 500px){
        width: 50%;
      }
    }
  }
}
