@import url('https://fonts.googleapis.com/css2?family=Exo:wght@800&display=swap');
*{
  font-family: 'Exo',sans-serif;
}
body {
  margin: 0;
  background-color: rgb(17, 21, 28, 0.96);


}

body::-webkit-scrollbar {
  display: none;
}

.navbar {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #11151c ;
  text-shadow: 2px 2px #702632;

}

.nav-title {
  margin-right: auto;
  margin-left: 2px;
  padding-left: 30px;
  font-size: 3em;
  color: white;
  transform: scale(1.2, .9);

}

.nav-item,
.nav-active {
  margin-left: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.75em;
  color: white;

}

.nav-active {
  height: 100%;
  padding: 6px;
  background-color: rgb(26, 30, 36);
}