body{
  margin: 0;
  background-color: #E5E2D3;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar{
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #293139;

}

.nav-title{
  margin-right: auto;
  font-family: impact, sans-serif;
  padding-left: 10px;
  font-size: 3em;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;

}

.nav-item,.nav-active{
  margin-left: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: impact, sans-serif;
  font-size: 1.75em;
  color: white;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}
.nav-active{
  height: 100%;
  background-color: rgb(80, 97, 110,0.3);
}

:root {
  --surface-color: rgb(100%,100%,100%,0.85);
  --curve: 30;
}

* {
  box-sizing: border-box;
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 25px;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card_image {      
  width: 100%;
  height: 90%;
}

.card_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card_overlay {
  transform: translateY(0);
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: white;

}

.card_header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card:hover .card_header {
  transform: translateY(0);
  
}

.card_title {
  color: #293139;
  margin-right: auto;
}

.pricetag{
  color: #50616E;
  font-weight: bolder;
}

.info{
  width: 100%;
  text-align: center;
  color: #293139;
  font-weight: bold;
  padding-bottom: 10px;
}